* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, sans-serif;
}

body {
    background-color: #303030;
}

header {
    width: 100%;
    height: auto;
    background: #2C2C2C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header nav {
    max-width: 1440px;
    margin-left: 10%;
}

header ul {
    list-style: none;
    float: right;
    display: flex;
    gap: 2rem;
    margin-top: 2.5rem;
    margin-right: 3rem;
}

.startContent {
    padding-top: 5vw;
    padding-left: 10%;
    margin: auto;
    color: white;
    display: block;
}

.startContent img {
    max-width: 100%;
    padding-right: 10%;
}

.startContent-text {
    float: right;
    font-size: 1.5vw;
    transform: translateX(-40%);
}

.startContent-text p {
    margin-top: 7vh;
    margin-left: 5vw;
    font-size: 1.6vw;
}

.startContent-text span:first-of-type {
    float: right;
    font-weight: 700;
    font-size: 64px;
    color: #303030;
    -webkit-text-stroke: 2px #FFC700;
}

.startContent-text span:nth-of-type(2) {
    font-size: 3.4vw;
    color: #FFC700;
    -webkit-text-stroke: 1.3px rgb(0, 0, 0);
    text-shadow:
        -1px 1px 0 #ffffff,
        -2px 2px 0 #ffffff,
        -3px 3px 0 #ffffff,
        -4px 4px 0 #ffffff,
        -5px 5px 0 #ffffff,
        -6px 6px 0 #ffffff;
}

.secondContent {
    display: inline-block;
}

.secondContent-backgound {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
}

.secondContent-backgound img {
    max-width: 100%;

}

.secondContent-Text {
    max-width: 40%;
    max-height: 30%;
    margin-top: 15vw;
    font-size: 1.5vw;
    left: 35vw;
    padding: 3rem;
    color: rgb(0, 0, 0);
    position: absolute;
    background: linear-gradient(#ffe999, #ffc800);
    border-radius: 3rem;

}

.secondContent-TextBackground {
    width: 30%;
    height: 50%;
    background-color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 141px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.thirdContent {
    margin-top: 44%;
    background: linear-gradient(90deg, #32AC27 50%, #BD1522 50%);
    display: flex;
    justify-content: center;
}

.thirdContent img {
    max-width: 100%;
}

.fourthContainer {
    max-width: 100%;
    background-color: #FFC700;
    padding: 0 11.3%;
    padding-bottom: 4rem;
}

.fourthContent-Text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding-top: 2rem;
}

.fourthContent-Text h2 {
    color: white;
    font-style: italic;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-align: center;

    color: #F8F8F8;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fourthContent-Text hr {
    width: 30vw;
}

.wrapper {
    max-width: 100%;
    position: relative;
}

.wrapper i {
    top: 45%;
    width: 46px;
    height: 46px;
    position: absolute;
    color: black;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background: #FFF;
    border-radius: 50%;
    transform: translateY(-7%);
}

.wrapper i:first-child {
    left: -23px;
    display: none;
}

.wrapper i:last-child {
    right: -23px;
}

.wrapper .slider {
    margin-top: 3rem;
    white-space: nowrap;
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.slider {
    object-fit: cover;
}

.slider.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.slider.dragging img {
    pointer-events: none;
}

.slider img:first-child {
    margin-left: 0px;
}

@media screen and (max-width: 1920px) {
    .slider img {
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 1200px) {
    .slider img {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .slider img {
        width: 100%;
    }
}

.fifthContent{
    margin-top: 5%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.fifthContent h2{
    color: #ffffff;
    font-weight: 900;
    font-size: 2rem;
    line-height: 58px;
    font-style: italic;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fifthContent img{
    max-width: 100%;
}

.fifthContent-Map{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fifthContent-Feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    padding: 2%;
    background: #2C2C2C;
}

.footerContent-Text{
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
}

.footerContainer img{
    margin-top: 3vh;
}